@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-instrument-sans);
  --font-serif: var(--font-dm-serif);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-instrument-sans), sans-serif;
}
